html{
    margin:0;
    padding: 0;
}

body{
    background-color: #B2CeF4;
    margin:auto;
    color: #0F6FF5;
    font-family: sans-serif;
    text-indent: 1em;
    width: 80%;
}

h1{
    text-align: center;
    font-size: 1.8rem;
	margin-inline: 1em;
	
}

h2{
    text-align: center;
    font-size: 1.4rem;
}

h3{
    text-align: center;
    font-size: 1.2rem;
}

.summary{
    float: right;
}

abbr{
    font-variant: small-caps;
}

.preamble{
    line-height: 1.5;
}

 .intro{
    height: 550px;
 }

 header{
    background-color: #0F6FF5;
    color: #B2CeF4;
	display: flex;
    align-items: center;
 }

 #design-archives{
	display: none;

 }

 footer{
	margin: 4%;
 }

 footer a{
	border: 2px solid blue;
	padding: 0.5em;
 }

 .sidebar li{
	margin-top: 1em;
	text-align: center;
 }

 .sidebar ul, li, a, nav{
	text-decoration: none;
	list-style: none;
 }

 .page-wrapper{
    position: relative;
 }
 
 .explanation{
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
}

 .sidebar{
    position: absolute;
    top: 280px;
    left: 62%;
    padding-inline: 2%;
}